<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <title>Foodfy</title>
    </head>

    <body>
        <header>
            <div class="header__container">
                <div class="header__logo">
                    <a href="/">
                        <img src="/img/logo.png" alt="logo">
                    </a>
                </div>

                <nav>
                    {% block bold %}
                         <a href="/about">Sobre</a>
                         <a href="/recipes">Receitas</a>
                    {% endblock %}  
                </nav>
            </div>
        </header>
    </body>

    {% block content %}{% endblock%}

    {# {% block footer %}
    <footer>
        <div class="footer__container" >
            <p>Todos direitos reservados, receitas Foodfy</p>
        </div>
    </footer>
    {% endblock %} #}
</body>
</html>