{% extends 'layout.njk' %}

{% block bold %}
    <a href="/about">Sobre</a>
    <a class="bold" href="/recipes">Receitas</a>
{% endblock %}

{% block content %}
    <section class="mostAccessed">
        <div class="mostAccessed__container" id="margin-top">
            <div class="mostAcessed__recipe">
                <div class="recipe__image">
                    <img src="/img/burger.png" alt="recipe-image">
                </div>

                <div class="recipe__title">
                    <p>Triplo bacon burger</p>
                </div>

                <div class="recipe__author">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="mostAcessed__recipe">
                <div class="recipe__image">
                    <img src="/img/pizza.png" alt="recipe-image">
                </div>

                <div class="recipe__title">
                    <p>Pizza 4 estações</p>
                </div>

                <div class="recipe__author">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="mostAcessed__recipe">
                <div class="recipe__image">
                    <img src="/img/espaguete.png" alt="recipe-image">
                </div>

                <div class="recipe__title">
                    <p>Espaguete ao alho</p>
                </div>

                <div class="recipe__author">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="mostAcessed__recipe">
                <div class="recipe__image">
                    <img src="/img/lasanha.png" alt="recipe-image">
                </div>

                <div class="recipe__title">
                    <p>Lasanha mac n' cheese</p>
                </div>

                <div class="recipe__author">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="mostAcessed__recipe">
                <div class="recipe__image">
                    <img src="/img/doce.png" alt="recipe-image">
                </div>

                <div class="recipe__title">
                    <p>Docinhos pão-do-céu</p>
                </div>

                <div class="recipe__author">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="mostAcessed__recipe">
                <div class="recipe__image">
                    <img src="/img/asinhas.png" alt="recipe-image">
                </div>

                <div class="recipe__title">
                    <p>Asinhas de frango ao barbecue</p>
                </div>

                <div class="recipe__author">
                    <p>por Vania Steroski</p>
                </div>
            </div>
        </div>
    </section>

    {% block footer %}
    <footer class="postion-absolute">
        <div class="footer__container" >
            <p>Todos direitos reservados, receitas Foodfy</p>
        </div>
    </footer>
    {% endblock %}
{% endblock %}