{% extends 'layout.njk' %}

{% block bold %}
    <a href="/about">Sobre</a>
    <a class="bold" href="/recipes">Receitas</a>
{% endblock %}

{% block content %}
    <section class="mostAccessed">
        <div class="mostAccessed__container" id="margin-top">

            {% for recipe in recipes %}
                <div class="mostAcessed__recipe">
                    <div class="recipe__image">
                        <a href="/recipes/{{recipes.indexOf(recipe)}}">
                            <img src="{{recipe.image}}" alt="recipe-image">
                        </a>
                    </div>

                    <div class="recipe__title">
                        <p>{{recipe.title}}</p>
                    </div>

                    <div class="recipe__author">
                        <p>{{recipe.author}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

    <div id="footer" class="position-footer">
        <div id="footer__container">
            <p>
                Todos direitos reservados, receitas Foodfy
            </p>
        </div>
    </div>

{% endblock %}